<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61660925004-3r6n414mf9vqn7s9279itectn0at0oc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61660925004-3r6n414mf9vqn7s9279itectn0at0oc1</string>
	<key>API_KEY</key>
	<string>AIzaSyAtDnAWnfEJUPkZhEyTlzJceljGog5H49E</string>
	<key>GCM_SENDER_ID</key>
	<string>61660925004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msagan.weather</string>
	<key>PROJECT_ID</key>
	<string>app-for-work200609</string>
	<key>STORAGE_BUCKET</key>
	<string>app-for-work200609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61660925004:ios:cf943ab233749a8d7738e9</string>
</dict>
</plist>